@import url(./reset.css);

/* slide pager */
.pagers {
  text-align: center;
}
.dot {
  display: inline-block;
  margin: 0 2px;
  width: 18px;
  height: 18px;
  background-color: var(--light-gray);
  border-radius: 50%;

  cursor: pointer;
}
.dot.active {
  width: 40px;
  background-color: var(--main-color);
  border-radius: 20px;
}

/* sub title */
.sub-tit-box {
  margin: 0 auto 30px;
  max-width: 1200px;
  text-align: center;
}
.sub-tit {
  font-family: 'GmarketSansMedium';
  font-size: var(--sub-title-size);
  color: var(--main-color);
}
.sub-tit-bar {
  margin: 15px auto;
  width: 36px;
  height: 2px;
  background-color: var(--main-color);
  border-radius: 5px;
}
.sub-tit-detail {
  color: var(--light-gray);
  font-size: var(--sub-title-desc-size);
}

/* === Main Nav === */
#main-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
}
#main-nav.active {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.main-nav-inner {
  margin: 0 auto;
  max-width: 1200px;
  height: inherit;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* Nav Left */
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left .nav-logo {
  margin-right: 20px;
  width: 150px;
}
.nav-left .nav-logo img {
  width: inherit;
  height: inherit;
}
.nav-left .nav-menu {
  overflow: hidden;
}
.nav-left .nav-menu li {
  float: left;
  margin-right: 20px;
}
.nav-left .nav-menu li:first-child a {
  font-weight: 600;
  color: var(--main-color);
}
.nav-left .nav-menu li a {
  font-size: 15px;
  font-weight: 500;
  color: var(--normal-txt-color);
}
/* Nav Right */
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right ul li {
  float: left;
  margin-left: 20px;
}
.nav-right ul li a {
  color: var(--main-color);
}
.nav-right ul li.shop-bag {
  position: relative;
}
.nav-right ul li.shop-bag em {
  position: absolute;
  bottom: 0;
  right: -5px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--crimson);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-right ul li.shop-bag em:after {
  content: '3';
  transform: translateX(-1px);
  color: #fff;
  font-size: 12px;
}

/* === Main Slide === */
.main-slide {
  position: relative;
  margin: 80px auto 0;
  width: 100%;
  /* width: 1200px; */
  height: 660px;
  overflow: hidden;
}
.main-slide img {
  position: absolute;
  /* width: inherit; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;

  transition: 0.5s;
}
.main-slide img.show {
  opacity: 1;
}

/* === Article : Intro === */
.intro-inner {
  margin: 0 auto;
  padding: 30px 0 10rem;
  max-width: 1200px;
  text-align: center;
}
.intro-logo {
  margin-bottom: 30px;
}
.intro-tit {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
  color: var(--main-color);
}
.intro-detail {
  font-size: 16px;
  line-height: 1.6;
  color: var(--normal-txt-color);
}
.intro-detail span {
  display: block;
  margin-top: 12px;
}

/* === Article : For Me and You === */
#forMeAndYou-content {
  padding-bottom: 10em;
}
.forMeAndYou-inner .sub-tit {
  display: none;
}
.forMeAndYou-inner .sub-tit.show {
  display: block;
}
.forMeAndYou-inner .sub-tit-detail {
  display: none;
}
.forMeAndYou-inner .sub-tit-detail.show {
  display: block;
}
.forMeAndYou-slide {
  position: relative;
  margin: 0 auto;
  padding: 0 90px;
  max-width: 1380px;
}
.forMeAndYou-slide-display {
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
}
.forMeAndYou-slide-inner {
  width: 200%;
}
.for-slide-items {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background-color: #fff;
  float: left;

  transition: 1s;
}
.for-slide-items {
  opacity: 0.3;
}
.for-slide-items.show {
  opacity: 1;
}
.for-slide-item .item-img {
  flex: 1;
}
.for-slide-item .item-img img {
  width: 100%;
  height: 100%;
}
.for-slide-item .item-desc {
  text-align: center;
}
.for-slide-item .item-desc span {
  display: block;
  margin: 15px 0 6px;
  font-size: 16px;
  color: var(--normal-txt-color);
}
.for-slide-item .item-desc p {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}
/* for slide arrow */
.for-slide-arrow img {
  position: absolute;
  top: 36%;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  cursor: pointer;
}
.for-slide-arrow .arrowLeft {
  left: 10px;
}
.for-slide-arrow .arrowRight {
  right: 10px;
}

/* === Article : About === */
.about-inner {
  width: 100%;
  margin-bottom: 10rem;
  background-color: var(--main-color);
}
.about-slide-box {
  position: relative;
  width: 100%;
  height: 350px;
  border: 2px solid red;
  overflow: hidden;
}
.about-slide-items {
  width: 300%;
  height: inherit;
  display: flex;
  flex-flow: row;

  /* margin-left: -100%; */
}
.about-slide-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 400px;
}
.about-img img {
  width: inherit;
}
.about-desc {
  color: #fff;
}
#about-content .pagers {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* border: 1px solid yellow; */
}
#about-content .dot {
  background-color: var(--light-gray);
}
#about-content .dot.active {
  background-color: #fff;
}

/* === Article : Flavor === */
.flavor-inner {
  padding: 0 0 10rem;
}

/* === Article : Review === */
.review-items {
  margin: 0 auto;
  max-width: 1200px;
  
}
.review-item {
  margin-bottom: 20px;
  padding: 20px 40px;
  width: 100%;
  background-color: var(--cloudy-gray);
  border-radius: 10px;

  display: flex;
  flex-flow: row;
}
.review-img {
  height: 200px;
}
.review-img img {
  height: inherit;
}
