@import url(./reset.css);
@import url(./animation.css);

/* slider arrow */
.slide-arrowCircle img {
  position: absolute;
  top: 36%;
  cursor: pointer;
}
.slide-arrowCircle .arrowLeft {
  left: 10px;
}
.slide-arrowCircle .arrowRight {
  right: 10px;
}

/* slide pager */
.pagers {
  text-align: center;
}
.dot {
  display: inline-block;
  margin: 0 2px;
  width: 18px;
  height: 18px;
  background-color: var(--light-gray);
  border-radius: 50%;

  cursor: pointer;
}
.dot.active {
  width: 40px;
  background-color: var(--main-color);
  border-radius: 20px;
}

/* sub title */
.sub-tit-box {
  margin: 0 auto 60px;
  max-width: 1200px;
  text-align: center;
}
.sub-tit {
  font-family: 'GmarketSansMedium';
  font-size: var(--sub-title-size);
  color: var(--main-color);
}
.sub-tit-bar {
  margin: 15px auto;
  width: 36px;
  height: 2px;
  background-color: var(--main-color);
  border-radius: 5px;
}
.sub-tit-detail {
  color: var(--light-gray);
  font-size: var(--sub-title-desc-size);
}

/* More View Button */
.moreBtn {
  padding: 0 20px;
  width: 200px;
  height: 45px;
  border: 2px solid #fff;

  display: flex;
  flex-flow: row;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
}
.moreBtn p {
  padding-right: 10px;
  text-transform: uppercase;
  font-family: 'GmarketSansMedium';
  font-size: 18px;
}
.moreBtn i {
  font-size: 19px;
  transition: transform 0.3s;
}
.moreBtn:hover {
  background-color: #fff;
  color: var(--main-color);
  font-weight: bold;
}
.moreBtn:hover i {
  transform: translateX(10px);
}

/* === Main Nav === */
#main-nav-content {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 80px;
}
.main-nav {
  width: inherit;
  height: inherit;
  background-color: #fff;

  display: block;
}
.main-nav-mo {
  display: none;
}
.main-nav.active {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.main-nav-inner {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;
  height: inherit;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* Nav Left */
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left .nav-logo {
  margin-right: 20px;
  width: 150px;
}
.nav-left .nav-logo img {
  width: inherit;
  height: inherit;
}
.nav-left .nav-menu {
  overflow: hidden;
}
.nav-left .nav-menu > li {
  float: left;
  margin-right: 25px;

  position: relative;
  z-index: 999;
}
.nav-left .nav-menu > li:first-child a, .nav-left .nav-menu > li:last-child a {
  font-weight: 600;
  color: var(--main-color);
}
.nav-left .nav-menu > li > a {
  font-size: 16px;
  font-weight: 500;
  color: var(--normal-txt-color);
}
.nav-left .nav-menu > li.active > a {
  position: relative;
  color: var(--crimson);
}
.nav-left .nav-menu > li.active > a::before {
  content: '';
  position: absolute;
  right: -8px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--crimson);
}
/* Nav Left : Sub Menu */
.sub-menu {
  position: fixed;
  top: 80px;
  transform: translateX(-30%);
  /* display: flex; */
  display: none;
  gap: 30px;
  line-height: 60px;
}
.sub-menu > li > a {
  color: #fff;
}
.sub-menu-bg {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 60px;
  background-color: #011E41;
  display: none;
}
.sub-menu.active {
  display: flex;
}
.sub-menu-bg.active {
  display: block;
}

/* Nav Right */
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right ul li {
  float: left;
  margin-left: 20px;
}
.nav-right ul li a {
  font-size: 16px;
  color: var(--main-color);
}
.nav-right ul li.shop-bag {
  transform: translateY(-3px);
}
.nav-right ul li.shop-bag a i {
  font-size: 0;
}
.nav-right ul li.shop-bag a i::before {
  font-size: 25px;
}
.nav-right ul li.shop-bag {
  position: relative;
}
.nav-right ul li.shop-bag em {
  position: absolute;
  bottom: 0;
  right: -5px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--crimson);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-right ul li.shop-bag em:after {
  content: '3';
  transform: translate(-1px, -1px);
  color: #fff;
  font-size: 12px;
}

/* Nav Bubble */
.join {
  position: relative;
}
.bubble {
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);

  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: bubbleMove 0.4s ease-out infinite alternate;

  opacity: 0;
  transition: opacity 0.5s;
}
.bubble.show {
  opacity: 1;
}
.bubble .arrow {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 12px solid var(--crimson);
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.bubble .bubble-txt {
  padding: 4px 0;
  width: 110px;
  background-color: var(--crimson);
  text-align: center;
  font-size: 13px;
  color: #fff;
  border-radius: 3px;
}

/* === Main Slide === */
.main-slide {
  position: relative;
  margin: 80px auto 0;
  width: 100%;
  height: 74vh;
  overflow: hidden;
}
.main-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;

  transition: 0.5s;
}
.main-slide img.show {
  opacity: 1;
}

/* === Article : Intro === */
.intro-inner {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1200px;
  text-align: center;
}
.intro-logo {
  margin: 0 auto 30px;
  width: 60%;
}
.intro-logo img {
  width: inherit;
}
.intro-tit {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
  color: var(--main-color);

  opacity: 0;
}
.intro-detail {
  font-size: 16px;
  line-height: 1.6;
  color: var(--normal-txt-color);

  opacity: 0;
}
.intro-detail span {
  display: block;
  margin-top: 12px;
}
.intro-tit.moveTop {
  animation: moveTop 0.8s 0.3s ease forwards;
}
.intro-detail.moveTop {
  animation: moveTop 0.8s 0.6s ease forwards;
}

/* === Article : For Me and You === */
.forMeAndYou-inner {
  padding: 8rem 0;
}
.forMeAndYou-inner .sub-tit {
  display: none;
}
.forMeAndYou-inner .sub-tit.show {
  display: block;
}
.forMeAndYou-inner .sub-tit-detail {
  display: none;
}
.forMeAndYou-inner .sub-tit-detail.show {
  display: block;
}
.forMeAndYou-slide {
  position: relative;
  margin: 0 auto;
  padding: 0 90px;
  max-width: 1380px;
}
.forMeAndYou-slide-display {
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
}
.forMeAndYou-slide-inner {
  width: 200%;
}
.for-slide-items {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background-color: #fff;
  float: left;

  transition: 1s;
}
.for-slide-items {
  opacity: 0.3;
}
.for-slide-items.show {
  opacity: 1;
}
.for-slide-item .item-img img {
  width: 100%;
  height: 100%;
}
.for-slide-item .item-desc {
  text-align: center;
}
.for-slide-item .item-desc span {
  display: block;
  margin: 15px 0 6px;
  font-size: 16px;
  color: var(--normal-txt-color);
}
.for-slide-item .item-desc p {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}

/* === Article : About === */
.about-inner {
  width: 100%;
  background-color: #011E41;
}
.about-slide-box {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  height: 420px;
  overflow: hidden;
}
.about-slide-items {
  /* width: 300%; */
  height: inherit;
  display: flex;
  flex-flow: row;

  margin-left: -100%;
}
.about-slide-item {
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.about-img {
  width: 400px;
}
.about-img img {
  width: inherit;
}
.about-desc {
  color: #fff;
}
#about-content .arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  cursor: pointer;
}
#about-content .arrows .left {
  position: absolute;
  left: 0;
}
#about-content .arrows .right {
  position: absolute;
  right: 0;
}
#about-content .pagers {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#about-content .dot {
  background-color: var(--light-gray);
}
#about-content .dot.active {
  background-color: #fff;
}
.about-desc h3 {
  margin-bottom: 10px;
  font-size: var(--sub-title-size);
}
.about-desc > p {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 300;
}

/* === Article : Flavor === */
.flavor-inner {
  padding: 8rem 0;
}
.flavor-slide {
  position: relative;
  margin: 0 auto;
  padding: 0 90px;
  max-width: 1380px;
}
.flavor-slide-inner {
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
} 
/* Left Detail Slide */
.flavor-slide-detail {
  min-width: 550px;
  max-width: 600px;
  overflow: hidden;
}
.detail-items {
  /* margin-left: -100%; */
  width: calc(100% * 11);

  display: flex;
  flex-flow: row;
}
.detail-item {
  width: calc(100% / 11);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}
.detail-item-img {
  flex: 5;
  font-size: 0;
}
.detail-item-img img {
  width: 100%;
}
.detail-item-desc {
  flex: 7;
  width: 350px;
  font-size: 0;
}
.detail-item-desc em {
  font-size: 15px;
  font-style: normal;
  color: #666;
}
.detail-item-desc h4 {
  font-size: 24px;
  color: var(--main-color);
}
.detail-item-desc h5 {
  font-size: 20px;
  color: var(--dark-gray);
}
.detail-item-desc .bar {
  margin: 17px 0 15px;
  width: 45px;
  height: 3px;
  border-radius: 50px;
  background-color: var(--main-color);
}
.detail-item-desc p {
  font-size: 17px;
  color: var(--normal-txt-color);
  line-height: 1.6;
  word-break: keep-all;
}
.detail-item-desc p strong {
  font-weight: 600;
  color: var(--main-color);
}
/* Right Simple Slide */
.flavor-slide-simple {
  width: calc(150px * 3 + 20px * 3);
  overflow: hidden;
}
.simple-items {
  /* margin-left: -170px; */
  display: flex;
  flex-wrap: wrap;
  width: calc(150px * 11 + 20px * 11);
}
.simple-item {
  width: 150px;
  margin-right: 20px;
}
.simple-item-img {
  margin-bottom: 10px;
  width: 100%;
  font-size: 0;
  border: 1px solid #eee;
  border-radius: 100%;
}
.simple-item-img img {
  width: inherit;
  border-radius: 100%;
}
.simple-item p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color);
}

/* === Article : Review === */
#review-content {
  background-color: var(--cloudy-gray);
}
.review-inner {
  padding: 8rem 0 5rem;
}
.review-items {
  margin: 0 auto 3rem;
  padding: 0 50px;
  max-width: 1000px;
}
.review-item {
  padding: 35px 0;
  width: 100%;
  border-bottom: 1px solid var(--main-color);

  display: flex;
  flex-flow: row;
  gap: 30px;

  opacity: 0;
}
.review-item:last-child {
  padding-bottom: none;
  border: none;
}
.review-item.moveTop {
  animation: moveTop 0.8s 0.3s ease forwards;
}
.review-img {
  flex: 3;
  height: 200px;
}
.review-img img {
  width: 100%;
  height: inherit;
  object-fit: cover;

  border-radius: 3px;
}
.review-desc {
  flex: 7;
}
.review-desc .stars-id {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.review-desc .stars {
  font-size: 16px;
  color: var(--main-color);
}
.review-desc span, .review-desc .id {
  color: #666;
}
.review-desc span {
  font-size: 11px;
}
.review-desc .id {
  font-size: 15px;
  font-style: normal;
}
.review-desc .goods-name{
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
}
.review-desc .review-txt {
  font-size: 16px;
  color: var(--normal-txt-color);
  word-break: keep-all;
}
#review-content .more-txt {
  margin-bottom: 15px;
  font-size: 18px;
  color: var(--normal-txt-color);
  text-align: center;
}
#review-content .moreBtn {
  margin: 0 auto;
  border-color: var(--main-color);
  color: var(--main-color);
}
#review-content .moreBtn:hover {
  background-color: var(--main-color);
  color: var(--cloudy-gray);
  font-weight: normal;
}

/* === Article : Instagram === */
#instar-content {
  background-color: #011E41;
  color: #fff;
}
.instar-inner {
  padding: 8rem 0;
}
#instar-content .sub-tit {
  color: #fff;
}
#instar-content .sub-tit-bar {
  background-color: #fff;
}
#instar-content .sub-tit-detail a {
  color: #fff;
  color: var(--light-gray);
}
.instar-items {
  margin: 0 auto;
  max-width: 1200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.instar-item {
  position: relative;
  width: 370px;
  height: 370px;
  background-color: #fff;
}
.instar-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* === Footer === */
#main-footer {
  background-color: #000;
  color: #fff;
}
.footer-top {
  margin: 0 auto;
  padding: 50px;
  max-width: 1300px;
}
.footer-txt {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.footer-nav ul {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-nav ul li:nth-child(2n) {
  transform: translateY(-2px);
  font-size: 12px;
}
.footer-nav ul li a {
  font-size: 18px;
  color: #fff;
}
.footer-txt-left .detail {
  font-size: 16px;
  color: #999;
}
.footer-txt-left .detail p {
  margin-bottom: 8px;
}
.footer-txt-left .detail span {
  display: inline-block;
  transform: translateY(-3px);
  padding: 0 10px;
  font-size: 10px;
  color: #666;
}
.footer-txt-right {
  text-align: right;
}
.footer-txt-right .tel {
  margin-bottom: 15px;
}
.footer-txt-right .tel p {
  margin-bottom: 5px;
  font-size: 18px;
}
.footer-txt-right .tel strong {
  display: block;
  margin-bottom: 5px;
  font-family: 'GmarketSansMedium';
  font-size: 24px;
  letter-spacing: 1px;
}
.footer-txt-right .tel .time {
  color: #999;
}
.footer-txt-right .tel .time p {
  font-size: 16px;
  line-height: 1.5;
}
.footer-txt-right .sns a {
  margin-left: 9.5px;
}
.footer-txt-right .sns img {
  width: 32px;
}
.footer-bottom {
  padding: 30px 50px;
  text-align: center;
  color: #999;
  border-top: 1px solid #333;
}
.footer-bottom p{
  font-size: 18px;
}
.footer-bottom span {
  display: block;
  margin-top: 8px;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: #555;
}

/* Responsive CSS - Tablet */
@media screen and (max-width:950px) {
  /* === Main Navigation === */
  #main-nav-content {
    width: 100%;
    height: 70px;
  }
  .main-nav {
    display: none;
  }
  .main-nav-mo {
    display: block;
    width: inherit;
    height: inherit;
    background-color: #fff;
  }
  .main-nav-mo-inner {
    position: relative;
    z-index: 10;
    padding: 0 20px;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav-mo .nav-mo-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
  }
  .main-nav-mo .nav-mo-logo img {
    width: 100%;
  }
  input[id="menu-btn"] {
    display: none;
  }
  .mo-menu-btn {
    display: block;
    width: 26px; height: 20px;
  
    position: relative;
    cursor: pointer;
  }
  .mo-menu-btn span {
    display: block;
    width: 100%; height: 3px;
    background-color: var(--main-color);
    border-radius: 40px;

    position: absolute;
  
    transition: .35s;
  }
  .mo-menu-btn span:nth-child(1) {
    top: 0;
  }
  .mo-menu-btn span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .mo-menu-btn span:nth-child(3) {
    bottom: 0;
  }
  /* Menu Button Motion */
  input[id="menu-btn"]:checked + label {
    z-index: 2;
  }
  input[id="menu-btn"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2;
  }
  input[id="menu-btn"]:checked + label span:nth-child(2) {
    opacity: 0;
    z-index: 2;
  }
  input[id="menu-btn"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    z-index: 2;
  }

  .nav-mo-right ul li {
    float: left;
    margin-left: 15px;
  }
  .nav-mo-right ul li a i {
    font-size: 0px;
  }
  .nav-mo-right ul li a i::before {
    font-size: 30px;
    color: var(--main-color);
  }
  .nav-mo-right ul li.shop-bag a i::before {
    font-size: 25px;
    color: var(--main-color);
  }
  .nav-mo-right ul li.shop-bag {
    position: relative;
    transform: translateY(1px);
  }
  .nav-mo-right ul li.shop-bag em {
    position: absolute;
    bottom: 0;
    right: -5px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--crimson);
    border-radius: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-mo-right ul li.shop-bag em:after {
    content: '3';
    transform: translateX(-1px);
    color: #fff;
    font-size: 11px;
  }
  .nav-mo-menu-box {
    position: fixed;
    top: 0px;
    left: 0;
    transform: translateX(-100%);
    width: 100vw;
    height: 100%;
    padding: 70px 0;
    overflow-y: scroll;
    background-color: #fff;
    border-top: 1px solid #eee;
  }
  /* 스크롤 숨기기 */
  .nav-mo-menu-box {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .nav-mo-menu-box::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
  }
  .nav-mo-menu {
    padding: 0 25px;
  }
  .nav-mo-menu > li {
    padding: 20px 0;
    /* margin-bottom: 25px; */
    border-bottom: 1px solid #eee;
  }
  .nav-mo-menu > li:last-child {
    border-bottom: none;
  }
  .nav-mo-menu > li > a {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
  }
  .mo-sub-menu {
    margin-left: 25px;
  }
  .mo-sub-menu > li > a {
    position: relative;

    display: block;
    padding: 6px 0;
    font-size: 16px;
    color: var(--normal-txt-color);
  }
  .mo-sub-menu > li:first-child > a {
    padding: 12px 0 6px;
  }
  .mo-sub-menu > li > a::before {
    position: absolute;
    top: 50%;
    left: -12px;
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--normal-txt-color);
  }

  /* === Main Slide === */
  .main-slide {
    margin: 70px auto 0;
  }

  /* === Article : Intro === */
  .intro-logo {
    margin: 0 auto 30px;
    width: 80%;
  }

  /* === Article : Flavor === */
  .flavor-slide {
    max-width: 90%;
    overflow: hidden;
  }

  /* === Footer === */
  .footer-txt {
    flex-direction: column;
  }
  .footer-nav ul {
    margin-bottom: 10px;
  }
  .footer-txt-left .detail {
    display: none;
  }
  .footer-txt-right {
    text-align: left;
  }
  .footer-txt-right .sns a {
    margin-left: 0px;
    margin-right: 9.5px;
  }
}

/* Responsive CSS - Mobile */
@media screen and (max-width:767px) {
  /* slider arrow */
  .slide-arrowCircle {
    display: none;
  }
  .slide-arrowCircle img {
    width: 44px;
  }

  /* sub title */
  .sub-tit-box {
    margin: 0 auto 30px;
    max-width: none;
  }

  /* === Main Slide === */
  .main-slide {
    height: 50vh;
  }

  /* === Article : Intro === */
  .intro-inner {
    max-width: none;
    width: 100%;
    padding: 30px 20px;
  }
  .intro-logo {
    margin: 0 auto 20px;
    width: 85%;
  }
  .intro-detail {
    font-size: 15px;
    word-break: keep-all;
    line-height: 1.8;
  }

  /* === Article : For Me and You === */
  .forMeAndYou-inner {
    padding: 5rem 0;
  }
  .forMeAndYou-slide {
    padding: 0;
    max-width: 84%;
  }
  .for-slide-items {
    flex-direction: column;
    gap: 10px;
  }
  .for-slide-item {
    display: flex;
    align-items: center;
  }
  .for-slide-item .item-img {
    flex: 1;
  }
  .for-slide-item .item-desc {
    flex: 1.5;
  }
  .for-slide-item .item-desc span {
    margin: 0 0 2px;
    font-size: 14px;
  }
  .for-slide-item .item-desc p {
    font-size: 17px;
  }

  /* === Article : About === */
  .about-slide-box {
    height: 70vh;
  }
  .about-slide-item {
    flex-direction: column;
    gap: 25px;
  }
  .about-img {
    width: 80%;
    text-align: center;
  }
  .about-desc {
    text-align: center;
  }
  #about-content .arrows {
    display: none;
  }
  #about-content .pagers {
    bottom: 20px;
  }
  .moreBtn {
    margin: 0 auto;
  }

  /* === Article : Flavor === */
  .flavor-inner {
    padding: 6rem 0;
  }
  .flavor-slide {
    padding: 0;
  }
  .flavor-slide-inner {
    margin: 0 auto;
    max-width: none;
    width: 84%;
  } 
  /* Left Detail Slide */
  .flavor-slide-detail {
    min-width: 100%;
    max-width: none;
  }
  .detail-item {
    flex-direction: column;
    align-items: center;
  }
  .detail-item-img {
    width: 90%;
  }
  .detail-item-desc {
    width: 100%;
    text-align: center;
  }
  .detail-item-desc em {
    font-size: 13px;
    font-style: normal;
    color: #666;
  }
  .detail-item-desc h4 {
    padding: 2px 0;
    font-size: 22px;
  }
  .detail-item-desc h5 {
    font-size: 18px;
  }
  .detail-item-desc .bar {
    margin: 17px auto 15px;
  }
  .detail-item-desc p {
    font-size: 16px;
  }
  /* Right Simple Slide */
  .flavor-slide-simple {
    display: none;
  }

  /* === Article : Review === */
  .review-inner {
    padding: 6rem 0 5rem;
  }
  .review-items {
    margin: 0 auto 2em;
  }
  .review-item {
    flex-flow: column;
    gap: 15px;
  }
  .review-desc .goods-name{
    font-size: 18px;
  }
  .review-desc .review-txt {
    font-size: 15px;
  }
  #review-content .more-txt {
    margin-bottom: 10px;
  }
  /* === Article : Instagram === */
  .instar-inner {
    padding: 6em 0;
  }
  .instar-items {
    max-width: none;
    gap: 30px;
  }
  .instar-item {
    margin: 0 auto;
    width: 320px;
    height: 320px;
  }

  /* === Footer === */
  .footer-top {
    padding: 50px 30px;
  }
  .footer-logo {
    width: 150px;
  }
  .footer-txt {
    padding-top: 20px;
    gap: 20px;
  }
  .footer-nav ul {
    gap: 12px;
  }
  .footer-nav ul li:nth-child(2n) {
    transform: translateY(0px);
    font-size: 8px;
  }
  .footer-nav ul li a {
    font-size: 14px;
    color: #fff;
  }
  .footer-logo img {
    width: inherit;
  }
  .footer-txt-right .tel p {
    font-size: 14px;
  }
  .footer-txt-right .tel strong {
    letter-spacing: 1px;
    font-size: 20px;
  }
  .footer-bottom p{
    font-size: 16px;
  }
  .footer-bottom span {
    font-size: 13px;
  }
}
